[user]
	name = bluebirz
	email = 9207891+bluebirz@users.noreply.github.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[alias]
	lob = log --all --graph --abbrev-commit --decorate --date=format-local:'%Y-%m-%d %H:%M:%S' --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%ad%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	acp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
	fpa = "!f() { git fetch --all && git pull --all && git remote prune origin; }; f"
	mdr = "!f() { git merge --no-commit --no-ff $@ && git reset --merge; }; f"
	stt = status -u
	ckb = "!f() { git checkout -b $@ && git push --set-upstream origin $@; }; f"
	dff = diff -u
	cko = checkout

[push]
	autoSetupRemote = true
