[user]
	name = bluebirz
	email = 9207891+bluebirz@users.noreply.github.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[include]
	path = ~/.config/git/alias.toml
[push]
	autoSetupRemote = true
